body,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

header {
    padding: 2em 1em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: #7A3D00;
}

section {
    margin: auto;
    height: 180px;
    box-sizing: border-box;
    padding: 1em;
    text-align: center;
    font-size: 1.3em;
    font-family: 'Kosugi', sans-serif;
    font-weight: 500;
}

h3 {
    font-size: 14px;
    text-align: left;
    font-weight: 100;
    color: blue;
}

.yoruba {
    font-size: 1.5em;
}

.meaning {
    font-family: 'Bad Script', cursive;
}

hr {
    width: 80%;
    border: 1px solid black;
}