body,
h1,
h2 {
    margin: 0;
    padding: 0;
}

header {
    padding: 1em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: #7A3D00;
}

section {
    margin: auto;
    height: 180px;
    box-sizing: border-box;
    padding: 1em;
    text-align: center;
    font-size: 1.3em;
    font-display: 'Kosugi', sans-serif;
}

.yoruba {
    font-size: 1.5em;
    padding: 70px 1em 0;
}

.meaning {
    font-style: italic;
}

hr {
    width: 80%;
}