body,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ccc;
}

.container {
    margin: 40px auto;
    background-color: #fff;
    border-radius: 15px;
    width: 90%;
}

header {
    padding: 2em 1em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: #7A3D00;
}

section {
    margin: auto;
    height: 180px;
    box-sizing: border-box;
    padding: 0.5em;
    text-align: center;
    font-size: 1.1em;
    font-family: 'Kosugi', sans-serif;
    font-weight: 500;
}

h3 {
    font-size: 14px;
    text-align: left;
    font-weight: 100;
    color: blue;
}

.yoruba {
    font-size: 1.5em;
}

.literal,
footer {
    font-family: 'Inconsolata', monospace;
}

.meaning {
    font-family: 'Bad Script', cursive;
    font-size: 1.3em;
}

hr {
    width: 80%;
    border-width: 1px;
}

.tweet-proverb {
    text-align: center;
    padding-bottom: 10px;
}

#tweet {
    font-size: 20pt;
    color: #003333;
    cursor: pointer;
}

footer {
    background-color: black;
    color: white;
    font-size:1.2em;
    padding: 1em 0.5em;
    word-spacing: 2px;
    text-align: center;
}

.fab,
.fas {
    color: #FF8205;
    cursor: pointer;
}