a {
    font-size: 1.2em;
}

h3 {
    font-size: 17px;
}

section {
    font-size: 1.3em;
}

.yoruba {
    font-size: 1.7em;
}

.meaning {
    font-size: 1.5em;
}

#tweet {
    font-size: 25pt;
}

footer {
    font-size: 1.4em;
}